<style>
    body {
        text-align: justify;
    }

    li.tooltip {
        position: relative;
    }

    li.tooltip:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        top: 1.1em;
        left: 1em;
        min-width: 200px;
        border: 1px #808080 solid;
        padding: 8px;
        color: black;
        background-color: #cfc;
        z-index: 1;
    }
</style>

<p>Hover over the highlight text below:</p>

<% @items.to_a.each do |item| %>
<ul>
    <li data-tooltip="<%= item[0]['comment'] %>" class="tooltip"><%= item[1]['paragraph'] %></li>
</ul>
<% end %>